@import "_mixins.scss";

.selected{
    color: $textBlack !important;
}

.mainBackground{
    background-color: $white;
}
    
.mainContent{
    max-width: 1024px;
    min-height: 700px;
    margin: 0 auto !important;
    float: none !important;
    padding: 50px 10px 0px 10px;
    font-family: Tahoma;
    font-style: normal;
    
    @include large-screen{
        width: 100%;
    }
    
    @include small-screen{
        padding: 20px 10px 0px 10px !important;
    } 
    
    .header{
        border-bottom: 1px solid $borderGray;
        padding-bottom: 20px;
        color: $textBlack;
        position: relative;
        margin-bottom: 50px;
        
        @include small-screen{
            padding-bottom: 60px;
            margin-bottom: 0px;
        }
        
        .headerContent{
            display: inline-block;
            
            @include small-screen{
                display: block;
                text-align: center !important;
                width: 100% !important;
            } 
        }
        
        .headerLeft{
            width: 60%;
            
            .headerName{
                font-size: 37px;
            }
            
            .headerTitle{
                padding-top: 10px;
                font-size: 20px;
                color: $textGray;  
            }   
        }
        
        .headerRight{
            text-align: right;
            font-size: 15px;
            width: 39%;
            position: absolute;
            right: 0;
            margin-top: 50px;
            
            @include small-screen{
                display: static;
                margin-top: 0px;
                padding-top: 20px;
            }
            
            .navigationContainer{
                font-size: 17px;
                
                .navigationItem{
                    margin-left: 15px;
                }
                .navigationItemStyle{
                    text-decoration: none;
                    color: $borderGray;
                }
                .navigationItemStyle:hover{
                    color: $textBlack;
                    cursor: pointer;
                }
            }
        } 
    }
}

.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    color: $white;
    position: relative;
    margin-top: 50px;
    background-color: $textGray;
    font-family: Tahoma;
    
    @include small-screen{
        margin-top: 0px !important;
        padding: 40px 0px 70px 0px !important;
    }
    
    .responsiveFooter{
        max-width: 1024px !important;
        margin: 0 auto !important;
        position: relative;
        padding: 0px 10px 0px 10px !important;
        
        @include small-screen{
            width: 100%;
            padding: 0px 0px 0px 0px !important;
        }
        
        .footerContent{
            display: inline-block;
            width: 49%;
            
            @include small-screen{
                display: block;
                text-align: center !important;
                width: 100% !important;
            }  
        }
        
        .footerLeft{
            vertical-align: top;
            font-size: 12px; 
        } 
        
        .footerRight{
            text-align: right;
            font-size: 25px;
            position: absolute;
            right: 0;
            padding-right: 10px !important;
            margin-top: -5px;
            
            @include small-screen{
                padding-top: 15px;
                padding-right: 0px !important;
                margin-top: 0px;
            }
            
            .socialIcon{
                margin-left: 15px;
            }
            
            .socialIconStyle{
                color: $white; 
            }
            
            .socialIconStyle:hover{
                color: $textBlack;
                cursor: pointer;
            }
        }
    }
}
