@import "_mixins.scss";

.selected{
    color: black !important;
}

.mainBackground{
    background-color: white;
}
    
.mainContent{
    max-width: 1024px;
    margin: 0 auto !important;
    float: none !important;
    padding: 50px 10px 0px 10px;
    
    @include large-screen{
        width: 100%;
    }
    
    @include medium-screen{
        padding: 20px 10px 0px 10px !important;
    } 
    
    .header{
        border-bottom: 1px solid #999999;
        padding-bottom: 20px;
        color: black;
        position: relative;
        margin-bottom: 50px;
        
        @include medium-screen{
            padding-bottom: 60px;
            margin-bottom: 0px;
        }
        
        .headerContent{
            display: inline-block;
            
            @include medium-screen{
                display: block;
                text-align: center !important;
                width: 100% !important;
            } 
        }
        
        .headerLeft{
            width: 60%;
            
            .headerName{
                font-size: 40px;
            }
            
            .headerTitle{
                padding-top: 10px;
                font-size: 20px;
                color: #666666;  
            }   
        }
        
        .headerRight{
            text-align: right;
            font-size: 15px;
            width: 39%;
            position: absolute;
            right: 0;
            margin-top: 55px;
            
            @include medium-screen{
                display: static;
                margin-top: 0px;
                padding-top: 20px;
            }
            
            .navigationContainer{
                font-size: 17px;
                
                .navigationItem{
                    margin-left: 15px;
                }
                .navigationItemStyle{
                    text-decoration: none;
                    color: #999999;
                }
                .navigationItemStyle:hover{
                    color: black;
                    cursor: pointer;
                }
            }
        } 
    }
    
    .footer{
        border-top: 1px solid #999999;
        padding-top: 30px;
        padding-bottom: 50px;
        color: #666666;
        position: relative;
        margin-top: 50px;
        
        @include medium-screen{
            padding-bottom: 70px;
            margin-top: 0px;
        }
        
        .footerContent{
            display: inline-block;
            width: 49%;
            
            @include medium-screen{
                display: block;
                text-align: center !important;
                width: 100% !important;
            }  
        }
        
        .footerLeft{
            vertical-align: top;
            font-size: 13px; 
        } 
        
        .footerRight{
            text-align: right;
            font-size: 25px;
            position: absolute;
            right: 0;
            
            @include medium-screen{
                padding-top: 15px;
            }
            
            .socialIcon{
                margin-left: 15px;
            }
            
            .socialIconStyle{
               color: #999999; 
            }
            
            .socialIconStyle:hover{
                color: black;
                cursor: pointer;
            }
        }
    }
}
