@import "_mixins.scss";

.visible{
    display: block;
}

.projectsContent{
    color: $textBlack;
    
    padding-top: 15px;
    
    @include small-screen{
        padding-bottom: 20px;
    }
    
    @include medium-screen{
        padding-top: 0px !important;
    }
    
    .appLinkStyle{
        font-weight: bold;
        color: $textBlack !important;
        text-decoration: none !important; 
    }
    
    .appLinkStyle:hover{
        cursor: pointer;
    }
    
    .projectsContentWrapper{
        width: 100%;
        margin-bottom: 60px;
        display: none;
        
        @include medium-screen{
            margin-bottom: 0px;
        }
        
        @include small-screen{
            padding: 40px 0px 0px 0px;
        }
        
        .projectDescriptionTitle{
            margin-bottom: 30px;
        }
        
        .descriptionImgContainer{
            display: inline-block;
            height: 500px;
            width: 49%;
            
            @include x-small-screen{
                width: 100%; 
            }
            
            img{
                height: 100%;
                width: 100%;
                
                @include medium-screen{
                    width: 80%;
                }
                
                @include x-small-screen{
                    width: 100%; 
                }
            }
        }
        
        .projectDescriptionContent{
            vertical-align: top;
            padding-left: 20px;
            width: 49%;
            float: right;
            color: $textGray;
            font-size: 15px;
            
            @include medium-screen{
                display: block;
                padding-left: 0px;
                width: 80%;
                margin: auto;
                margin-top: 40px;
                margin-bottom: 40px;
            }
            
            @include small-screen{
                width: 100%;
            }
            
            .projectDescriptionParagraph{
                line-height: 19px;
                text-align: left;
            }
        }
        
        .responsiveBlocks{
            @include medium-screen{
                display: block;
                text-align: center;
                width: 100%;
            }
        }
    }
    
    .projectSection{
        display: inline-block;
        width: 33%;
        text-align: center;
        padding-bottom: 40px;
        vertical-align: top;
        
        @media(max-width: 845px){
            margin-top: 50px;   
        }
        
        @include medium-screen{
            margin-bottom: 40px;
            display: block;
            width: 100%;
        }
        
        .projectImg{
            height: 170px;
            width: 170px;
            cursor: pointer;
            
            @include medium-screen{
                height: 220px;
                width: 50%;
            }
            
            @include x-small-screen{
                width: 100%; 
            }
        }
        
        .projectName{
            color: $textBlack;
            font-weight: bold;
            padding-top: 12px;
            text-decoration: none;
        }
        
        .projectDescription{
            width: 65%;
            margin: auto;
            padding-top: 5px;
            line-height: 18px;
            font-size: 15px;
            color: $textGray;
            
            @include small-screen{
                width: 100%;
            }
            
            .descriptionLink{
                font-weight: bold;
                text-decoration: none;
                color: $textBlack !important;
            }
            .descriptionLink:hover{
                cursor: pointer;
            }
        }   
    }
}