.projectsContent{
    color: black;
    
    .projectContent{
        display: none;
        height: 500px;
    }
    
    .visible{
        display: block;
    }
    
    .projectSection{
        display: inline-block;
        width: 33%;
        text-align: center;
        
        .projectImg{
            height: 170px;
            width: 170px;
        }
        
        .projectName{
            color: black;
            font-weight: bold;
            padding-top: 12px;
        }   
    }
}