.resumeContainer{
    padding-top: 47px;
    padding-bottom: 61px;
    max-width: 800px;
    margin: auto;
    
    @include medium-screen{
        width: 100%;
        margin: none;
    }
    
    .resumeSection{
        
        .resumeSectionTitle{
            font-size: 22px;
            font-weight: bold;
            color: white;
            margin-bottom: 20px;
            
            @include medium-screen{
                margin-bottom: 10px;
            }   
        }
        .resumeSectionContent{
            padding-left: 5px;
            color: #999999;
            
            @include medium-screen{
                padding-top: 5px;
            }
            
            .resumeContent{
                display: inline-block;
                
                @include medium-screen{
                    display: block;
                    margin-top: 10px;
                    width: 100% !important;
                }
                
                .boldText{
                    font-weight: bold;
                    margin-bottom: 3px;
                }
                .whiteBoldText{
                    font-weight: bold;
                    margin-bottom: 3px;
                    color: white;
                }
                .descriptionContent{
                    margin-bottom: 7px;
                    line-height: 18px;
                }
            }
            .contactSectionLeft{
                width: 49%;
            }
            .contactSectionRight{
                width: 49%
            }
            .resumeSectionLeft{
                padding-top: 3px;
                vertical-align: top;
                width: 23%;
            }
            .resumeSectionRight{
                width: 76%;
                padding-top: 3px;
                
                @include medium-screen{
                    padding-top: 10px;
                }
            }     
        }
        .resumeExperienceSection{
            margin-bottom: 30px;
        }    
    }
    
    .bottomSection{
        @include medium-screen{
            padding-top: 10px;
        }
    }
    
    .contactSection{
        padding-bottom: 43px;
    }  
}