.resumeContainer{
    max-width: 800px;
    margin: auto;
    padding: 0px 0px 0px 80px;
    
    @include medium-screen{
        width: 100%;
        margin: none;
        padding: 47px 0px 61px 0px !important;
    }
    
    .resumeSection{
        
        .resumeSectionTitle{
            font-size: 22px;
            font-weight: bold;
            color: black;
            margin-bottom: 20px;
            
            @include medium-screen{
                margin-bottom: 10px;
            }   
        }
        .resumeSectionContent{
            padding-left: 5px;
            color: #666666;
            
            @include medium-screen{
                padding-top: 5px;
                padding-left: 0px;
            }
            
            .resumeContent{
                display: inline-block;
                
                @include medium-screen{
                    display: block;
                    margin-top: 10px;
                    width: 100% !important;
                }
                
                .boldText{
                    font-weight: bold;
                    margin-bottom: 3px;
                }
                .whiteBoldText{
                    font-weight: bold;
                    margin-bottom: 3px;
                    color: black;
                }
                .descriptionContent{
                    margin-bottom: 7px;
                    line-height: 18px;
                    padding-right: 30px;
                    
                    @include medium-screen{
                        padding-right: 0px !important;
                    }
                }
            }
            .contactSectionLeft{
                width: 49%;
            }
            .contactSectionRight{
                width: 49%
            }
            .resumeSectionLeft{
                padding-top: 3px;
                vertical-align: top;
                width: 23%;
            }
            .resumeSectionRight{
                padding-top: 3px;
                width: 76%;
                
                @include medium-screen{
                    padding-top: 10px;
                }
            }     
        }
        .resumeExperienceSection{
            margin-bottom: 30px;
        }    
    }
    
    .bottomSection{
        @include medium-screen{
            padding-top: 10px;
        }
    }
    
    .languagesSection{
        padding-top: 50px;
    }
    
    .contactSection{
        padding-bottom: 43px;
    }
    
    .skillsSection{
        margin-top: 5px;
        display: inline-block;
        
        @include medium-screen{
            margin-top: 13px !important;
        }
        
        .SkillsContent{
            margin-bottom: 5px;
        }
    }  
}