<div class="aboutMeContent">
    <div>
        <div class="aboutMeTextContent">
        Hello, my name is Abraham. My friends call me "Abe", on the internet I'm abrahamAbe and I am a Front End Engineer. I got my degree in 2012 and started my career working in two outsourcing companies based in Mexico, I got to try several programming languages and frameworks while working there. I now live in the LA area and I'm currently working for <a href="https://events.com/" class="linkStyle">Events.com</a> where I help build single page web applications using AngularJS, React Native and some other stuff.
        </div>
    
        <div class="aboutMeTextContent">
        I am a hardcore PC Gamer, my love for video games keeps me motivated and always trying to improve my skills and learn new things so that one day I can get my dream job in the gaming industry. Some other activities I enjoy when I'm not working or playing are, concerts (mostly heavy metal concerts), running and movies!
        </div>
        
        <div class="aboutMeTextContent">Want to get in touch? you can find me on <a href="https://www.facebook.com/abraham.preciadomorales" class="linkStyle">Facebook</a>, <a href="https://www.linkedin.com/in/abraham-preciado-89160787" class="linkStyle">LinkedIn</a> and <a href="https://github.com/abrahampreciado" class="linkStyle">GitHub.</a> Feel free to send me an email or call me!
        </div>
    
    </div>
    <div class="aboutMeImgContainer">
        <img src="./assets/profilePicture.png" alt="Profile Picture" class="aboutMeImg">
    </div>
    
    A photo of me hanging out at Blizzcon
</div>