<div class="aboutMeContent">
    <div class="aboutMeText">
        <div class="aboutMeTextContent">
        Hello, my name is Abraham. My friends call me "Abe", on the internet I'm abrahamAbe and I'm a Front End Engineer. I got my Bachelor's degree in 2012 and spent the past couple of years working in two outsourcing companies based in Mexico, I got to try different programming languages and frameworks on my time there. I recently moved to San Diego, CA. I'm currently working as a UI/UX Engineer for <a href="https://events.com/" class="linkStyle">Events.com</a> where I help build single page web applications using AngularJS and some other stuff.
        </div>
    
        <div class="aboutMeTextContent">
        I'm constantly messing around with code and trying to learn new things to improve my skills and stay up to date with the latest technologies. I love video games and I spend a lot of my time playing. I also like movies, music and running. Want to get in touch? you can find me on <a href="https://www.facebook.com/abraham.preciadomorales" class="linkStyle">Facebook</a>, <a href="https://www.linkedin.com/in/abraham-preciado-89160787" class="linkStyle">Linkedin</a> and <a href="https://github.com/abrahampreciado" class="linkStyle">GitHub</a>.
        </div>
    
    </div>
    <div class="aboutMeImgContainer">
        <img src="./assets/profilePicture.jpg" alt="Profile Picture" class="aboutMeImg">
    </div>
    
    A photo of me hanging out at Blizzcon
</div>