<div class="projectDescriptionTitle responsiveBlocks"><a class="appLinkStyle" href="https://events.com/">Events.com</a></div>
<div class="descriptionImgContainer responsiveBlocks">
    <img src="./assets/projectImages/eventsDescription.png">
</div>
<div class="projectDescriptionContent responsiveBlocks"> la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la</div>
<!--<div class="projectSkillsContent">le le le le le le le le le le le le le le</div>-->