<div class="projectDescriptionTitle responsiveBlocks"><a class="appLinkStyle" href="https://events.com/">Events.com</a></div>
<div class="descriptionImgContainer responsiveBlocks">
    <img src="./assets/projectImages/eventsDescription.png">
</div>
<div class="projectDescriptionContent responsiveBlocks">
    <p class="projectDescriptionParagraph">Events.com is a mobile-first web application that provides a suite of cloud-based services to encourage 
        social interaction and enhance the experience of putting on, promoting and attending events. It gives organizers the necessary tools
        to manage and monetize their events. Event goers get to discover, explore and share their experiences through the events.com website.</p>
    <br>   
    <p class="projectDescriptionParagraph">I am part of the front-end team, I spend most of my time developing new features for the application, working closely with the design team in order to
       deliver the best user experiences to our customers. Every day is different, from squashing bugs to attending brainstorm engineering sessions, we
       keep an active and creative environment at the office. We work under Agile methodologies which helps us to stay active and always creating new things.</p>
    <br>
    <p class="projectDescriptionParagraph">Some of my major projects include developing conditional questions for our registration forms, integrating
        fundraising functionality using CrowdRise and adding the ability to create positions for team oriented events.
    </p>
    <br>
    <p class="projectDescriptionParagraph">We use a variety of front-end technologies on our daily work. Some of them are AngularJS, Restful Services,
        Saas, Compass, Bower, npm and node.js
    </p>
</div>
