<div class="projectDescriptionTitle responsiveBlocks"><a class="appLinkStyle" href="http://www.landesk.com/index.aspx">Landesk.com</a></div>
<div class="descriptionImgContainer responsiveBlocks">
    <img src="./assets/projectImages/landeskDescription.png">
</div>
<div class="projectDescriptionContent responsiveBlocks">
    <p class="projectDescriptionParagraph">Landesk Software provides systems management, security management, service management, asset management
        and process management solutions to organizations. It is one of the oldest companies providing this type of product. They also specialize in
        lifecycle management, endpoint security, and IT service management solutions for desktops, servers and mobile devices.
    </p>
    <br>
    <p class="projectDescriptionParagraph">
        I was part of the mobile security team, we worked on a web application that allows companies to enroll their smart phones, tablets and rugged devices.
        Once enrolled, the device's settings can be customized in order to limit what a user can do with it. This is useful at big corporate companies, as
        they usually hand out smart devices to their employees. Landesk mobile security helps with keeping sensitive data contained in smart devices protected
        from malicious attacks.
    </p>
    <br>
    <p class="projectDescriptionParagraph">
     My responsibilities involved working on UI features, developing views from scratch or modifying existing ones. I also worked closely with the backend team
     in order to connect our front end application with our data management system. 
    </p>
    <br>
    <p class="projectDescriptionParagraph">
     Some of the technologies used in this project include, JavaScript, Servlets, Web Services, Java, JSF, HTML and CSS.
    </p>
</div>
