<div class="mainContent">
    <header class="header">
        <div class="headerContent headerLeft">
            <div class="headerName">Abraham Preciado</div>
            <div class="headerTitle">Front End Engineer</div>
        </div>
        <div class="headerContent headerRight">
            <div class="navigationContainer">
                <a [routerLink]="['About']" [class.selected]="isSelected(1)" (click)="onSelect(1)" class="navigationItemStyle">About me</a>
                <a [routerLink]="['Resume']" [class.selected]="isSelected(2)" (click)="onSelect(2)" class="navigationItem navigationItemStyle">Resume</a>
                <a [routerLink]="['Projects']" [class.selected]="isSelected(3)" (click)="onSelect(3)" class="navigationItem navigationItemStyle" id="projects">Projects</a>
            </div>
        </div>
    </header>
    
    <!-- rendering component's content -->
    <router-outlet></router-outlet>
    
</div>

<footer class="footer">
    <div class="responsiveFooter">
        <div class="footerContent footerLeft">
            <div><span class="copy">© 2016 Abraham Preciado</span> | abraham.preciado@gmail.com</div>
        </div>
        <div class="footerContent footerRight">
            <a href="https://www.facebook.com/abraham.preciadomorales" class="socialIconStyle"><i class="fa fa-facebook-square"></i></a>
            <a href="https://www.linkedin.com/in/abraham-preciado-89160787" class="socialIcon socialIconStyle"><i class="fa fa-linkedin-square"></i></a>
            <a href="https://github.com/abrahampreciado" class="socialIcon socialIconStyle"><i class="fa fa-github-square"></i></a>
        </div>
    </div>
</footer>

