<div class="mainContent">
    <header class="header">
        <div class="headerContent headerLeft">
            <div class="headerName">Abraham Preciado</div>
            <div class="headerTitle">Front End Engineer</div>
        </div>
        <div class="headerContent headerRight">
            <div class="navigationContainer">
                <a [routerLink]="['About']" class="navigationItemStyle">ABOUT ME</a>
                <a [routerLink]="['Resume']" class="navigationItem navigationItemStyle">RESUME</a>
                <a class="navigationItem navigationItemStyle">PROJECTS</a>
            </div>
        </div>
    </header>
    
    <!-- rendering component's content -->
    <router-outlet></router-outlet>
    
    <footer class="footer">
        <div class="footerContent footerLeft">
            <div><span class="copy">© 2016 Abraham Preciado</span> | abraham.preciado@gmail.com</div>
        </div>
        <div class="footerContent footerRight">
            <a href="https://www.facebook.com/abraham.preciadomorales" class="socialIconStyle"><i class="fa fa-facebook-square"></i></a>
            <a href="https://www.linkedin.com/in/abraham-preciado-89160787" class="socialIcon socialIconStyle"><i class="fa fa-linkedin-square"></i></a>
            <a href="https://github.com/abrahampreciado" class="socialIcon socialIconStyle"><i class="fa fa-github-square"></i></a>
        </div>
    </footer>
</div>

