<div class="projectDescriptionTitle responsiveBlocks"><span class="myCreepScoreTitle">My Creep Score</span></div>
<div class="descriptionImgContainer responsiveBlocks">
    <img src="./assets/projectImages/myCreepScoreDescription.png">
</div>
<div class="projectDescriptionContent responsiveBlocks"> la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la</div>
<!--<div class="projectSkillsContent">le le le le le le le le le le le le le le</div>-->