<div class="projectDescriptionTitle responsiveBlocks"><a class="appLinkStyle" href="http://www.mycreepscore.com">My Creep Score</a></div>
<div class="descriptionImgContainer responsiveBlocks">
    <img src="./assets/projectImages/myCreepScoreDescription.png">
</div>
<div class="projectDescriptionContent responsiveBlocks">
    <p class="projectDescriptionParagraph">
        My Creep Score is a personal project I worked on, it provides <a href="https://www.youtube.com/watch?v=MtUtjwAHoRw" class="appLinkStyle">Last Hit</a> 
        average scores per game to League of Legends players. To get these results a user has to simply type his 
        <a href="http://gameinfo.na.leagueoflegends.com/en/game-info/summoners/" class="appLinkStyle">Summoner</a> name in the search bar, select the 
        region where he plays and hit Go. The app displays the scores for every
        <a href="http://gameinfo.na.leagueoflegends.com/en/game-info/champions/" class="appLinkStyle">Champion</a> the summoner has played.   
    </p>
    <br>
    <p class="projectDescriptionParagraph">
    This is a useful tool for players who are looking to improve their last hitting skills. It helps them keep track of their progress with each
    individual champion and every lane they've played with said champion.
    </p>
    <br>
    <p class="projectDescriptionParagraph">
        I made this application using the <a href="https://developer.riotgames.com/" class="appLinkStyle">Riot Games API</a> as my data source, 
        HTML, CSS, JavaScript and React for the front end, Node.js to handle REST API calls and MongoDB to store players scores. 
    </p>
    <br>
    <div><a class="appLinkStyle" href="http://www.mycreepscore.com">mycreepscore.com</a></div>
</div>
