<div class="projectDescriptionTitle responsiveBlocks"><span class="myCreepScoreTitle">My Creep Score</span></div>
<div class="descriptionImgContainer responsiveBlocks">
    <img src="./assets/projectImages/myCreepScoreDescription.png">
</div>
<div class="projectDescriptionContent responsiveBlocks">
    <p class="projectDescriptionParagraph">
        My Creep Score is a personal project I worked on, it provides <a href="https://www.youtube.com/watch?v=MtUtjwAHoRw" class="appLinkStyle">Last Hit</a> 
        and gold average scores per game to League of Legends players. To get these results a user has to simply type his 
        <a href="http://gameinfo.na.leagueoflegends.com/en/game-info/summoners/" class="appLinkStyle">Summoner</a> name in the search bar, select the 
        region where he plays and hit Go. The app displays the scores divided by 
        <a href="http://gameinfo.na.leagueoflegends.com/en/game-info/champions/" class="appLinkStyle">Champions</a> and champion roles.  
    </p>
    <br>
    <p class="projectDescriptionParagraph">
    This is a useful tool for players who are looking to improve their last hitting skills. It helps them keep track of their progress with each
    individual champion as well as champion roles. Here are two reddit posts where I got feedback from the LoL community:
    <a href="https://www.reddit.com/r/leagueoflegends/comments/26vx4i/my_creep_score/" class="appLinkStyle">Post 1</a>,
    <a href="https://www.reddit.com/r/leagueoflegends/comments/2825c2/my_creep_score_updated/" class="appLinkStyle">Post 2</a>. 
    </p>
    <br>
    <p class="projectDescriptionParagraph">
        I made this application using the <a href="https://developer.riotgames.com/" class="appLinkStyle">Riot Games API</a> as my data source, 
        HTML and CSS for the front end, MySQL to manage the store/update processes for user records and Java Servlets to handle all 
        of the API calls and data processing. 
    </p>
</div>
