<div class="resumeContainer">
    <!-- contact section -->
    <div class="resumeSection contactSection">
        <div class="resumeSectionTitle">Contact</div>
        <div class="resumeSectionContent">
            <div class="infoSectionLeft resumeContent">
                <div class="boldText">Email</div>
                <div>abraham.preciado@gmail.com</div>
            </div>
            <div class="infoSectionRight resumeContent">
                <div class="boldText">Phone</div>
                <div>(909) 600-8571</div>
            </div>
        </div>
    </div>
    <!-- experience content -->
    <div class="resumeSection">
        <div class="resumeSectionTitle">Experience</div>
        <div class="resumeSectionContent resumeExperienceSection">
            <div class="resumeSectionLeft resumeContent">
                <div class="whiteBoldText">Front End Engineer</div>
                <div class="boldText">Events.com</div>
                <div>Oct 2015 - Present</div>
            </div>
            <div class="resumeSectionRight resumeContent">
                <div class="descriptionContent">• Develop new directives to handle user registration data through the events.com ticketing/registration portal.</div>
                <div class="descriptionContent">• Work closely with the design team in order to create visually appealing features for the ticketing/registration portal.</div>  
                <div class="descriptionContent">• Perform code reviews.</div>
                <div class="descriptionContent">• Team works under Kanban methodologies.</div>
                <div class="descriptionContent">• Technologies: HTML, CSS, AngularJS, JavaScript, Node.js, REST, Redux.</div>
            </div>
        </div>
        
        <div class="resumeSectionContent resumeExperienceSection">
            <div class="resumeSectionLeft resumeContent">
                <div class="whiteBoldText">Front End Engineer</div>
                <div class="boldText">Sonata Services</div>
                <div>Nov 2014 - Oct 2015</div>
            </div>
            <div class="resumeSectionRight resumeContent">
                <div class="descriptionContent">• Worked as a contractor for Events.com</div>
                <div class="descriptionContent">• Developed several directives to handle registrant information through the events.com ticketing/registration portal.</div>  
                <div class="descriptionContent">• Developed various UI features using HTML and CSS, following previously designed prototypes.</div>
                <div class="descriptionContent">• Delivered results within or before estimated deadlines.</div>
                <div class="descriptionContent">• Worked under Agile methodologies.</div>
                <div class="descriptionContent">• Technologies: HTML, CSS, AngularJS, JavaScript, Node.js</div>
            </div>
        </div>
        
        <div class="resumeSectionContent resumeExperienceSection">
            <div class="resumeSectionLeft resumeContent">
                <div class="whiteBoldText">Front End Engineer</div>
                <div class="boldText">Softtek</div>
                <div>Nov 2013 - Oct 2014</div>
            </div>
            <div class="resumeSectionRight resumeContent">
                <div class="descriptionContent">• Worked as a contractor for Landesk.com</div>
                <div class="descriptionContent">• Collaborated in maintaining and updating the landesk.com mobile security app. This application manages iOS, Android and Rugged devices.</div>  
                <div class="descriptionContent">• Created several JSP's and Servlets to handle data through AJAX calls.</div>
                <div class="descriptionContent">• Worked on an android application, I was involved in the development of a new functionality for the app, my main activities were UI modifications.</div>
                <div class="descriptionContent">• Worked under Agile methodologies.</div>
                <div class="descriptionContent">• Technologies: HTML, CSS, JavaScript, Servlets, JSF, Web Services.</div>
            </div>
        </div>
        
        <div class="resumeSectionContent resumeExperienceSection">
            <div class="resumeSectionLeft resumeContent">
                <div class="whiteBoldText">Software Engineer</div>
                <div class="boldText">Softtek</div>
                <div>Jan 2012 - Oct 2013</div>
            </div>
            <div class="resumeSectionRight resumeContent">
                <div class="descriptionContent">• Worked as a contractor for General Electric.</div>
                <div class="descriptionContent">• Developed scripts that were used for data parsing and formatting.</div>  
                <div class="descriptionContent">• Helped with the analysis of data gathered from newly discovered IT components.</div>
                <div class="descriptionContent">• Collaborated with the extraction and storage of data contained in external DB systems.</div>
                <div class="descriptionContent">• Team worked under Agile methodologies.</div>
                <div class="descriptionContent">• Technologies: Jython, uCMDB discovery tool.</div>
            </div>
        </div>
    </div>
    
    <!-- education section -->
    <div class="resumeSection bottomSection">
        <div class="resumeSectionTitle">Education</div>
        <div class="resumeSectionContent">
            <div class="resumeSectionLeft resumeContent">
                <div class="boldText">Ensenada, B.C.</div>
                <div>Aug 2007- Dec 2011</div>
            </div>
            <div class="resumeSectionRight resumeContent">
                <div class="boldText">Universidad Autonoma de Baja California</div>
                <div><i class="fa fa-graduation-cap"></i> Bachelor of Science in Computer Engineering.</div>
            </div>
        </div>
    </div>
    
    <!-- languages section -->
    <div class="resumeSection languagesSection">
        <div class="resumeSectionTitle">Languages</div>
        <div class="resumeSectionContent">
            <div class="infoSectionLeft resumeContent">
                <div class="boldText">English.</div>
                <div>Native or bilingual proficiency.</div>
            </div>
            <div class="infoSectionRight resumeContent">
                <div class="boldText">Spanish.</div>
                <div>Native or bilingual proficiency.</div>
            </div>
        </div>
    </div>
    
    <!-- skills section -->
    <div class="resumeSection languagesSection">
        <div class="resumeSectionTitle">Skills</div>
        <div class="resumeSectionContent">
            <div class="infoSectionLeft skillsSection">
                <div class="SkillsContent">• HTML</div>
                <div class="SkillsContent">• CSS3</div>
                <div class="SkillsContent">• SASS</div>
                <div class="SkillsContent">• Bootstrap</div>
                <div class="SkillsContent">• Compass</div>
                <div class="SkillsContent">• Responsive Websites</div>
                <div class="SkillsContent">• React</div>
                <div class="SkillsContent">• Immutable.js</div>
                <div class="SkillsContent">• TypeScript (Beginner)</div>
            </div>
            <div class="infoSectionRight skillsSection">
                <div class="SkillsContent">• JavaScript</div>
                <div class="SkillsContent">• AngularJS</div>
                <div class="SkillsContent">• Node.js</div>
                <div class="SkillsContent">• REST</div>
                <div class="SkillsContent">• Git</div>
                <div class="SkillsContent">• JSON</div>
                <div class="SkillsContent">• Redux</div>
                <div class="SkillsContent">• Jasmine</div>
                <div class="SkillsContent">• Angular 2 (Beginner)</div>
            </div>
        </div>
    </div>
</div>