<div class="projectDescriptionTitle responsiveBlocks"><a class="appLinkStyle" href="http://www8.hp.com/us/en/software-solutions/configuration-management-system-database/">uCMDB</a></div>
<div class="descriptionImgContainer responsiveBlocks">
    <img src="./assets/projectImages/ucmdbDescription.png">
</div>
<div class="projectDescriptionContent responsiveBlocks"> la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la</div>
<!--<div class="projectSkillsContent">le le le le le le le le le le le le le le</div>-->