<div class="projectDescriptionTitle responsiveBlocks"><a class="appLinkStyle" href="http://www8.hp.com/us/en/software-solutions/configuration-management-system-database/">uCMDB</a></div>
<div class="descriptionImgContainer responsiveBlocks">
    <img src="./assets/projectImages/ucmdbDescription.png">
</div>
<div class="projectDescriptionContent responsiveBlocks">
    <p class="projectDescriptionParagraph">
        UCMDB is a CMDB and discovery software product produced by Hewlett Packard supporting ITIL 
        Configuration Management and which features a Configuration Management Database, as well as a mechanism for the automatic discovery of 
        IT infrastructure components, such as computers, network devices and composing relationships between them.
    </p>
    <br>
    <p class="projectDescriptionParagraph">
    I worked with the infrastructure discovery team, the purpose of that team was to locate computer systems which had GE client's data. We would
    develop scripts to parse and format this data and store it in GE's data servers. The newly located systems would become part of GE's network
    which made it easier for us to collect and store data contained in these systems.    
    </p>
    <br>
    <p class="projectDescriptionParagraph">
     The technologies used in this project are, Jython, uCMDB discovery tool.  
    </p>
</div>
