/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/scssSheets/_about.scss */
.aboutMeContent {
  width: 730px;
  margin: auto;
  text-align: center;
  color: #666666;
  font-size: 17px;
  line-height: 22px;
}
@media screen and (max-width: 768px) {
  /* line 3, ../sass/scssSheets/_about.scss */
  .aboutMeContent {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100% !important;
  }
}
/* line 17, ../sass/scssSheets/_about.scss */
.aboutMeContent .aboutMeTextContent {
  text-align: left;
  margin-bottom: 15px;
}
/* line 21, ../sass/scssSheets/_about.scss */
.aboutMeContent .aboutMeTextContent .linkStyle {
  text-decoration: none !important;
  font-weight: bold;
  color: black !important;
}
/* line 28, ../sass/scssSheets/_about.scss */
.aboutMeContent .aboutMeImgContainer {
  padding-top: 50px;
  margin-bottom: 10px;
}
/* line 32, ../sass/scssSheets/_about.scss */
.aboutMeContent .aboutMeImgContainer .aboutMeImg {
  height: 450px;
  width: 400px;
}
@media screen and (max-width: 768px) {
  /* line 32, ../sass/scssSheets/_about.scss */
  .aboutMeContent .aboutMeImgContainer .aboutMeImg {
    width: 100% !important;
  }
}

/* line 3, ../sass/scssSheets/_main.scss */
.selected {
  color: black !important;
}

/* line 7, ../sass/scssSheets/_main.scss */
.mainBackground {
  background-color: white;
}

/* line 11, ../sass/scssSheets/_main.scss */
.mainContent {
  max-width: 1024px;
  margin: 0 auto !important;
  float: none !important;
  padding: 50px 10px 0px 10px;
}
@media screen and (max-width: 1025px) {
  /* line 11, ../sass/scssSheets/_main.scss */
  .mainContent {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* line 11, ../sass/scssSheets/_main.scss */
  .mainContent {
    padding: 20px 10px 0px 10px !important;
  }
}
/* line 25, ../sass/scssSheets/_main.scss */
.mainContent .header {
  border-bottom: 1px solid #999999;
  padding-bottom: 20px;
  color: black;
  position: relative;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  /* line 25, ../sass/scssSheets/_main.scss */
  .mainContent .header {
    padding-bottom: 60px;
    margin-bottom: 0px;
  }
}
/* line 37, ../sass/scssSheets/_main.scss */
.mainContent .header .headerContent {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  /* line 37, ../sass/scssSheets/_main.scss */
  .mainContent .header .headerContent {
    display: block;
    text-align: center !important;
    width: 100% !important;
  }
}
/* line 47, ../sass/scssSheets/_main.scss */
.mainContent .header .headerLeft {
  width: 60%;
}
/* line 50, ../sass/scssSheets/_main.scss */
.mainContent .header .headerLeft .headerName {
  font-size: 40px;
}
/* line 54, ../sass/scssSheets/_main.scss */
.mainContent .header .headerLeft .headerTitle {
  padding-top: 10px;
  font-size: 20px;
  color: #666666;
}
/* line 61, ../sass/scssSheets/_main.scss */
.mainContent .header .headerRight {
  text-align: right;
  font-size: 15px;
  width: 39%;
  position: absolute;
  right: 0;
  margin-top: 55px;
}
@media screen and (max-width: 768px) {
  /* line 61, ../sass/scssSheets/_main.scss */
  .mainContent .header .headerRight {
    display: static;
    margin-top: 0px;
    padding-top: 20px;
  }
}
/* line 75, ../sass/scssSheets/_main.scss */
.mainContent .header .headerRight .navigationContainer {
  font-size: 17px;
}
/* line 78, ../sass/scssSheets/_main.scss */
.mainContent .header .headerRight .navigationContainer .navigationItem {
  margin-left: 15px;
}
/* line 81, ../sass/scssSheets/_main.scss */
.mainContent .header .headerRight .navigationContainer .navigationItemStyle {
  text-decoration: none;
  color: #999999;
}
/* line 85, ../sass/scssSheets/_main.scss */
.mainContent .header .headerRight .navigationContainer .navigationItemStyle:hover {
  color: black;
  cursor: pointer;
}
/* line 93, ../sass/scssSheets/_main.scss */
.mainContent .footer {
  border-top: 1px solid #999999;
  padding-top: 30px;
  padding-bottom: 50px;
  color: #666666;
  position: relative;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  /* line 93, ../sass/scssSheets/_main.scss */
  .mainContent .footer {
    padding-bottom: 70px;
    margin-top: 0px;
  }
}
/* line 106, ../sass/scssSheets/_main.scss */
.mainContent .footer .footerContent {
  display: inline-block;
  width: 49%;
}
@media screen and (max-width: 768px) {
  /* line 106, ../sass/scssSheets/_main.scss */
  .mainContent .footer .footerContent {
    display: block;
    text-align: center !important;
    width: 100% !important;
  }
}
/* line 117, ../sass/scssSheets/_main.scss */
.mainContent .footer .footerLeft {
  vertical-align: top;
  font-size: 13px;
}
/* line 122, ../sass/scssSheets/_main.scss */
.mainContent .footer .footerRight {
  text-align: right;
  font-size: 25px;
  position: absolute;
  right: 0;
}
@media screen and (max-width: 768px) {
  /* line 122, ../sass/scssSheets/_main.scss */
  .mainContent .footer .footerRight {
    padding-top: 15px;
  }
}
/* line 132, ../sass/scssSheets/_main.scss */
.mainContent .footer .footerRight .socialIcon {
  margin-left: 15px;
}
/* line 136, ../sass/scssSheets/_main.scss */
.mainContent .footer .footerRight .socialIconStyle {
  color: #999999;
}
/* line 140, ../sass/scssSheets/_main.scss */
.mainContent .footer .footerRight .socialIconStyle:hover {
  color: black;
  cursor: pointer;
}

/* line 1, ../sass/scssSheets/_resume.scss */
.resumeContainer {
  max-width: 800px;
  margin: auto;
  padding: 0px 0px 0px 80px;
}
@media screen and (max-width: 768px) {
  /* line 1, ../sass/scssSheets/_resume.scss */
  .resumeContainer {
    width: 100%;
    margin: none;
    padding: 47px 0px 61px 0px !important;
  }
}
/* line 14, ../sass/scssSheets/_resume.scss */
.resumeContainer .resumeSection .resumeSectionTitle {
  font-size: 22px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  /* line 14, ../sass/scssSheets/_resume.scss */
  .resumeContainer .resumeSection .resumeSectionTitle {
    margin-bottom: 10px;
  }
}
/* line 24, ../sass/scssSheets/_resume.scss */
.resumeContainer .resumeSection .resumeSectionContent {
  padding-left: 5px;
  color: #666666;
}
@media screen and (max-width: 768px) {
  /* line 24, ../sass/scssSheets/_resume.scss */
  .resumeContainer .resumeSection .resumeSectionContent {
    padding-top: 5px;
    padding-left: 0px;
  }
}
/* line 33, ../sass/scssSheets/_resume.scss */
.resumeContainer .resumeSection .resumeSectionContent .resumeContent {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  /* line 33, ../sass/scssSheets/_resume.scss */
  .resumeContainer .resumeSection .resumeSectionContent .resumeContent {
    display: block;
    margin-top: 10px;
    width: 100% !important;
  }
}
/* line 42, ../sass/scssSheets/_resume.scss */
.resumeContainer .resumeSection .resumeSectionContent .resumeContent .boldText {
  font-weight: bold;
  margin-bottom: 3px;
}
/* line 46, ../sass/scssSheets/_resume.scss */
.resumeContainer .resumeSection .resumeSectionContent .resumeContent .whiteBoldText {
  font-weight: bold;
  margin-bottom: 3px;
  color: black;
}
/* line 51, ../sass/scssSheets/_resume.scss */
.resumeContainer .resumeSection .resumeSectionContent .resumeContent .descriptionContent {
  margin-bottom: 7px;
  line-height: 18px;
  padding-right: 30px;
}
@media screen and (max-width: 768px) {
  /* line 51, ../sass/scssSheets/_resume.scss */
  .resumeContainer .resumeSection .resumeSectionContent .resumeContent .descriptionContent {
    padding-right: 0px !important;
  }
}
/* line 61, ../sass/scssSheets/_resume.scss */
.resumeContainer .resumeSection .resumeSectionContent .contactSectionLeft {
  width: 49%;
}
/* line 64, ../sass/scssSheets/_resume.scss */
.resumeContainer .resumeSection .resumeSectionContent .contactSectionRight {
  width: 49%;
}
/* line 67, ../sass/scssSheets/_resume.scss */
.resumeContainer .resumeSection .resumeSectionContent .resumeSectionLeft {
  padding-top: 3px;
  vertical-align: top;
  width: 23%;
}
/* line 72, ../sass/scssSheets/_resume.scss */
.resumeContainer .resumeSection .resumeSectionContent .resumeSectionRight {
  padding-top: 3px;
  width: 76%;
}
@media screen and (max-width: 768px) {
  /* line 72, ../sass/scssSheets/_resume.scss */
  .resumeContainer .resumeSection .resumeSectionContent .resumeSectionRight {
    padding-top: 10px;
  }
}
/* line 81, ../sass/scssSheets/_resume.scss */
.resumeContainer .resumeSection .resumeExperienceSection {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  /* line 86, ../sass/scssSheets/_resume.scss */
  .resumeContainer .bottomSection {
    padding-top: 10px;
  }
}
/* line 92, ../sass/scssSheets/_resume.scss */
.resumeContainer .languagesSection {
  padding-top: 50px;
}
/* line 96, ../sass/scssSheets/_resume.scss */
.resumeContainer .contactSection {
  padding-bottom: 43px;
}
/* line 100, ../sass/scssSheets/_resume.scss */
.resumeContainer .skillsSection {
  margin-top: 5px;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  /* line 100, ../sass/scssSheets/_resume.scss */
  .resumeContainer .skillsSection {
    margin-top: 13px !important;
  }
}
/* line 108, ../sass/scssSheets/_resume.scss */
.resumeContainer .skillsSection .SkillsContent {
  margin-bottom: 5px;
}

/* line 1, ../sass/scssSheets/_projects.scss */
.projectsContent {
  color: black;
}
/* line 4, ../sass/scssSheets/_projects.scss */
.projectsContent .projectContent {
  display: none;
  height: 500px;
}
/* line 9, ../sass/scssSheets/_projects.scss */
.projectsContent .visible {
  display: block;
}
/* line 13, ../sass/scssSheets/_projects.scss */
.projectsContent .projectSection {
  display: inline-block;
  width: 33%;
  text-align: center;
}
/* line 18, ../sass/scssSheets/_projects.scss */
.projectsContent .projectSection .projectImg {
  height: 170px;
  width: 170px;
}
/* line 23, ../sass/scssSheets/_projects.scss */
.projectsContent .projectSection .projectName {
  color: black;
  font-weight: bold;
  padding-top: 12px;
}
