/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/scssSheets/_about.scss */
.aboutMeContent {
  width: 730px;
  margin: auto;
  text-align: center;
  color: #666666;
  font-size: 15px;
  line-height: 22px;
}
@media screen and (max-width: 768px) {
  /* line 3, ../sass/scssSheets/_about.scss */
  .aboutMeContent {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100% !important;
  }
}
/* line 17, ../sass/scssSheets/_about.scss */
.aboutMeContent .aboutMeTextContent {
  text-align: left;
  margin-bottom: 15px;
}
/* line 21, ../sass/scssSheets/_about.scss */
.aboutMeContent .aboutMeTextContent .linkStyle {
  text-decoration: none !important;
  font-weight: bold;
  color: black !important;
}
/* line 28, ../sass/scssSheets/_about.scss */
.aboutMeContent .aboutMeImgContainer {
  padding-top: 50px;
  margin-bottom: 10px;
}
/* line 32, ../sass/scssSheets/_about.scss */
.aboutMeContent .aboutMeImgContainer .aboutMeImg {
  height: 450px;
  width: 400px;
}
@media screen and (max-width: 768px) {
  /* line 32, ../sass/scssSheets/_about.scss */
  .aboutMeContent .aboutMeImgContainer .aboutMeImg {
    width: 70% !important;
  }
}
@media screen and (max-width: 500px) {
  /* line 32, ../sass/scssSheets/_about.scss */
  .aboutMeContent .aboutMeImgContainer .aboutMeImg {
    width: 100% !important;
  }
}

/* line 3, ../sass/scssSheets/_main.scss */
.selected {
  color: black !important;
}

/* line 7, ../sass/scssSheets/_main.scss */
.mainBackground {
  background-color: white;
}

/* line 11, ../sass/scssSheets/_main.scss */
.mainContent {
  max-width: 1024px;
  min-height: 700px;
  margin: 0 auto !important;
  float: none !important;
  padding: 50px 10px 0px 10px;
  font-family: Tahoma;
  font-style: normal;
}
@media screen and (max-width: 1025px) {
  /* line 11, ../sass/scssSheets/_main.scss */
  .mainContent {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* line 11, ../sass/scssSheets/_main.scss */
  .mainContent {
    padding: 20px 10px 0px 10px !important;
  }
}
/* line 28, ../sass/scssSheets/_main.scss */
.mainContent .header {
  border-bottom: 1px solid #999999;
  padding-bottom: 20px;
  color: black;
  position: relative;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  /* line 28, ../sass/scssSheets/_main.scss */
  .mainContent .header {
    padding-bottom: 60px;
    margin-bottom: 0px;
  }
}
/* line 40, ../sass/scssSheets/_main.scss */
.mainContent .header .headerContent {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  /* line 40, ../sass/scssSheets/_main.scss */
  .mainContent .header .headerContent {
    display: block;
    text-align: center !important;
    width: 100% !important;
  }
}
/* line 50, ../sass/scssSheets/_main.scss */
.mainContent .header .headerLeft {
  width: 60%;
}
/* line 53, ../sass/scssSheets/_main.scss */
.mainContent .header .headerLeft .headerName {
  font-size: 37px;
}
/* line 57, ../sass/scssSheets/_main.scss */
.mainContent .header .headerLeft .headerTitle {
  padding-top: 10px;
  font-size: 20px;
  color: #666666;
}
/* line 64, ../sass/scssSheets/_main.scss */
.mainContent .header .headerRight {
  text-align: right;
  font-size: 15px;
  width: 39%;
  position: absolute;
  right: 0;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  /* line 64, ../sass/scssSheets/_main.scss */
  .mainContent .header .headerRight {
    display: static;
    margin-top: 0px;
    padding-top: 20px;
  }
}
/* line 78, ../sass/scssSheets/_main.scss */
.mainContent .header .headerRight .navigationContainer {
  font-size: 17px;
}
/* line 81, ../sass/scssSheets/_main.scss */
.mainContent .header .headerRight .navigationContainer .navigationItem {
  margin-left: 15px;
}
/* line 84, ../sass/scssSheets/_main.scss */
.mainContent .header .headerRight .navigationContainer .navigationItemStyle {
  text-decoration: none;
  color: #999999;
}
/* line 88, ../sass/scssSheets/_main.scss */
.mainContent .header .headerRight .navigationContainer .navigationItemStyle:hover {
  color: black;
  cursor: pointer;
}

/* line 97, ../sass/scssSheets/_main.scss */
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  position: relative;
  margin-top: 50px;
  background-color: #666666;
  font-family: Tahoma;
}
@media screen and (max-width: 768px) {
  /* line 97, ../sass/scssSheets/_main.scss */
  .footer {
    margin-top: 0px !important;
    padding: 40px 0px 70px 0px !important;
  }
}
/* line 111, ../sass/scssSheets/_main.scss */
.footer .responsiveFooter {
  max-width: 1024px !important;
  margin: 0 auto !important;
  position: relative;
  padding: 0px 10px 0px 10px !important;
}
@media screen and (max-width: 768px) {
  /* line 111, ../sass/scssSheets/_main.scss */
  .footer .responsiveFooter {
    width: 100%;
    padding: 0px 0px 0px 0px !important;
  }
}
/* line 122, ../sass/scssSheets/_main.scss */
.footer .responsiveFooter .footerContent {
  display: inline-block;
  width: 49%;
}
@media screen and (max-width: 768px) {
  /* line 122, ../sass/scssSheets/_main.scss */
  .footer .responsiveFooter .footerContent {
    display: block;
    text-align: center !important;
    width: 100% !important;
  }
}
/* line 133, ../sass/scssSheets/_main.scss */
.footer .responsiveFooter .footerLeft {
  vertical-align: top;
  font-size: 12px;
}
/* line 138, ../sass/scssSheets/_main.scss */
.footer .responsiveFooter .footerRight {
  text-align: right;
  font-size: 25px;
  position: absolute;
  right: 0;
  padding-right: 10px !important;
  margin-top: -5px;
}
@media screen and (max-width: 768px) {
  /* line 138, ../sass/scssSheets/_main.scss */
  .footer .responsiveFooter .footerRight {
    padding-top: 15px;
    padding-right: 0px !important;
    margin-top: 0px;
  }
}
/* line 152, ../sass/scssSheets/_main.scss */
.footer .responsiveFooter .footerRight .socialIcon {
  margin-left: 15px;
}
/* line 156, ../sass/scssSheets/_main.scss */
.footer .responsiveFooter .footerRight .socialIconStyle {
  color: white;
}
/* line 160, ../sass/scssSheets/_main.scss */
.footer .responsiveFooter .footerRight .socialIconStyle:hover {
  color: black;
  cursor: pointer;
}

/* line 1, ../sass/scssSheets/_resume.scss */
.resumeContainer {
  max-width: 800px;
  margin: auto;
  padding: 0px 0px 0px 80px;
}
@media screen and (max-width: 768px) {
  /* line 1, ../sass/scssSheets/_resume.scss */
  .resumeContainer {
    width: 100%;
    margin: none;
    padding: 47px 0px 61px 0px !important;
  }
}
/* line 14, ../sass/scssSheets/_resume.scss */
.resumeContainer .resumeSection .resumeSectionTitle {
  font-size: 21px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  /* line 14, ../sass/scssSheets/_resume.scss */
  .resumeContainer .resumeSection .resumeSectionTitle {
    margin-bottom: 10px;
  }
}
/* line 24, ../sass/scssSheets/_resume.scss */
.resumeContainer .resumeSection .resumeSectionContent {
  padding-left: 5px;
  color: #666666;
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  /* line 24, ../sass/scssSheets/_resume.scss */
  .resumeContainer .resumeSection .resumeSectionContent {
    padding-top: 5px;
    padding-left: 0px;
  }
}
/* line 34, ../sass/scssSheets/_resume.scss */
.resumeContainer .resumeSection .resumeSectionContent .resumeContent {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  /* line 34, ../sass/scssSheets/_resume.scss */
  .resumeContainer .resumeSection .resumeSectionContent .resumeContent {
    display: block;
    margin-top: 10px;
    width: 100% !important;
  }
}
/* line 43, ../sass/scssSheets/_resume.scss */
.resumeContainer .resumeSection .resumeSectionContent .resumeContent .boldText {
  font-weight: bold;
  margin-bottom: 3px;
}
/* line 47, ../sass/scssSheets/_resume.scss */
.resumeContainer .resumeSection .resumeSectionContent .resumeContent .whiteBoldText {
  font-weight: bold;
  margin-bottom: 3px;
  color: black;
}
/* line 52, ../sass/scssSheets/_resume.scss */
.resumeContainer .resumeSection .resumeSectionContent .resumeContent .descriptionContent {
  margin-bottom: 7px;
  line-height: 18px;
  padding-right: 30px;
}
@media screen and (max-width: 768px) {
  /* line 52, ../sass/scssSheets/_resume.scss */
  .resumeContainer .resumeSection .resumeSectionContent .resumeContent .descriptionContent {
    padding-right: 0px !important;
  }
}
/* line 62, ../sass/scssSheets/_resume.scss */
.resumeContainer .resumeSection .resumeSectionContent .infoSectionLeft {
  width: 50%;
}
/* line 65, ../sass/scssSheets/_resume.scss */
.resumeContainer .resumeSection .resumeSectionContent .infoSectionRight {
  width: 48%;
}
/* line 68, ../sass/scssSheets/_resume.scss */
.resumeContainer .resumeSection .resumeSectionContent .resumeSectionLeft {
  padding-top: 3px;
  vertical-align: top;
  width: 23%;
}
/* line 73, ../sass/scssSheets/_resume.scss */
.resumeContainer .resumeSection .resumeSectionContent .resumeSectionRight {
  padding-top: 3px;
  width: 76%;
}
@media screen and (max-width: 768px) {
  /* line 73, ../sass/scssSheets/_resume.scss */
  .resumeContainer .resumeSection .resumeSectionContent .resumeSectionRight {
    padding-top: 10px;
  }
}
/* line 82, ../sass/scssSheets/_resume.scss */
.resumeContainer .resumeSection .resumeExperienceSection {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  /* line 87, ../sass/scssSheets/_resume.scss */
  .resumeContainer .bottomSection {
    padding-top: 10px;
  }
}
/* line 93, ../sass/scssSheets/_resume.scss */
.resumeContainer .languagesSection {
  padding-top: 50px;
}
/* line 97, ../sass/scssSheets/_resume.scss */
.resumeContainer .contactSection {
  padding-bottom: 43px;
}
/* line 101, ../sass/scssSheets/_resume.scss */
.resumeContainer .skillsSection {
  margin-top: 5px;
  display: inline-block;
  vertical-align: top;
}
@media screen and (max-width: 768px) {
  /* line 101, ../sass/scssSheets/_resume.scss */
  .resumeContainer .skillsSection {
    margin-top: 13px !important;
  }
}
/* line 110, ../sass/scssSheets/_resume.scss */
.resumeContainer .skillsSection .SkillsContent {
  margin-bottom: 5px;
}

/* line 3, ../sass/scssSheets/_projects.scss */
.visible {
  display: block;
}

/* line 7, ../sass/scssSheets/_projects.scss */
.projectsContent {
  color: black;
}
@media screen and (max-width: 768px) {
  /* line 7, ../sass/scssSheets/_projects.scss */
  .projectsContent {
    padding-bottom: 20px;
  }
}
/* line 14, ../sass/scssSheets/_projects.scss */
.projectsContent .appLinkStyle {
  font-weight: bold;
  color: black !important;
  text-decoration: none !important;
}
/* line 20, ../sass/scssSheets/_projects.scss */
.projectsContent .appLinkStyle:hover {
  cursor: pointer;
}
/* line 24, ../sass/scssSheets/_projects.scss */
.projectsContent .projectsContentWrapper {
  width: 100%;
  margin-bottom: 60px;
  display: none;
}
@media screen and (max-width: 838px) {
  /* line 24, ../sass/scssSheets/_projects.scss */
  .projectsContent .projectsContentWrapper {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 768px) {
  /* line 24, ../sass/scssSheets/_projects.scss */
  .projectsContent .projectsContentWrapper {
    padding: 40px 0px 0px 0px;
  }
}
/* line 37, ../sass/scssSheets/_projects.scss */
.projectsContent .projectsContentWrapper .projectDescriptionTitle {
  margin-bottom: 30px;
}
/* line 41, ../sass/scssSheets/_projects.scss */
.projectsContent .projectsContentWrapper .descriptionImgContainer {
  display: inline-block;
  height: 500px;
  width: 49%;
}
@media screen and (max-width: 500px) {
  /* line 41, ../sass/scssSheets/_projects.scss */
  .projectsContent .projectsContentWrapper .descriptionImgContainer {
    width: 100%;
  }
}
/* line 50, ../sass/scssSheets/_projects.scss */
.projectsContent .projectsContentWrapper .descriptionImgContainer img {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 838px) {
  /* line 50, ../sass/scssSheets/_projects.scss */
  .projectsContent .projectsContentWrapper .descriptionImgContainer img {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  /* line 50, ../sass/scssSheets/_projects.scss */
  .projectsContent .projectsContentWrapper .descriptionImgContainer img {
    width: 100%;
  }
}
/* line 64, ../sass/scssSheets/_projects.scss */
.projectsContent .projectsContentWrapper .projectDescriptionContent {
  vertical-align: top;
  padding-left: 20px;
  width: 49%;
  float: right;
  color: #666666;
  font-size: 15px;
}
@media screen and (max-width: 838px) {
  /* line 64, ../sass/scssSheets/_projects.scss */
  .projectsContent .projectsContentWrapper .projectDescriptionContent {
    display: block;
    padding-left: 0px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  /* line 64, ../sass/scssSheets/_projects.scss */
  .projectsContent .projectsContentWrapper .projectDescriptionContent {
    width: 100%;
  }
}
/* line 85, ../sass/scssSheets/_projects.scss */
.projectsContent .projectsContentWrapper .projectDescriptionContent .projectDescriptionParagraph {
  line-height: 19px;
  text-align: left;
}
@media screen and (max-width: 838px) {
  /* line 91, ../sass/scssSheets/_projects.scss */
  .projectsContent .projectsContentWrapper .responsiveBlocks {
    display: block;
    text-align: center;
    width: 100%;
  }
}
/* line 100, ../sass/scssSheets/_projects.scss */
.projectsContent .projectSection {
  display: inline-block;
  width: 33%;
  text-align: center;
  padding-bottom: 40px;
  vertical-align: top;
  cursor: pointer;
}
@media (max-width: 845px) {
  /* line 100, ../sass/scssSheets/_projects.scss */
  .projectsContent .projectSection {
    margin-top: 50px;
  }
}
@media screen and (max-width: 838px) {
  /* line 100, ../sass/scssSheets/_projects.scss */
  .projectsContent .projectSection {
    margin-bottom: 40px;
    display: block;
    width: 100%;
  }
}
/* line 118, ../sass/scssSheets/_projects.scss */
.projectsContent .projectSection .projectImg {
  height: 170px;
  width: 170px;
}
@media screen and (max-width: 838px) {
  /* line 118, ../sass/scssSheets/_projects.scss */
  .projectsContent .projectSection .projectImg {
    height: 220px;
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  /* line 118, ../sass/scssSheets/_projects.scss */
  .projectsContent .projectSection .projectImg {
    width: 100%;
  }
}
/* line 132, ../sass/scssSheets/_projects.scss */
.projectsContent .projectSection .projectName {
  color: black;
  font-weight: bold;
  padding-top: 12px;
  text-decoration: none;
}
/* line 139, ../sass/scssSheets/_projects.scss */
.projectsContent .projectSection .projectDescription {
  width: 65%;
  margin: auto;
  padding-top: 5px;
  line-height: 18px;
  font-size: 15px;
  color: #666666;
}
@media screen and (max-width: 768px) {
  /* line 139, ../sass/scssSheets/_projects.scss */
  .projectsContent .projectSection .projectDescription {
    width: 100%;
  }
}
/* line 151, ../sass/scssSheets/_projects.scss */
.projectsContent .projectSection .projectDescription .descriptionLink {
  font-weight: bold;
  text-decoration: none;
  color: black !important;
}
/* line 156, ../sass/scssSheets/_projects.scss */
.projectsContent .projectSection .projectDescription .descriptionLink:hover {
  cursor: pointer;
}
